---
title: Commission Regulation (EC) No 2898/95 of 15 December 1995 concerning verification of compliance with quality standards for bananas
id: eur/1995/2898
type: EuropeanUnionRegulation
category: euretained
status: repealed
made_date: '1995-12-15'
text_date: '2012-01-09'
extent: E+W+S+N.I.
source_url: https://www.legislation.gov.uk/eur/1995/2898
pdf_urls:
- http://www.legislation.gov.uk/eur/1995/2898/pdfs/eur_19952898_adopted_en.pdf
- http://www.legislation.gov.uk/eur/1995/2898/pdfs/eur_19952898_1996-03-18_en.pdf
- http://www.legislation.gov.uk/eur/1995/2898/pdfs/eur_19952898_1996-07-01_en.pdf
- http://www.legislation.gov.uk/eur/1995/2898/pdfs/eur_19952898_1997-03-04_en.pdf
- http://www.legislation.gov.uk/eur/1995/2898/pdfs/eur_19952898_2012-01-09_en.pdf
- http://www.legislation.gov.uk/eur/1995/2898/data.pdf
pending_changes: 0
repealed_on: unknown
attribution: © Crown and database right. Derived from content available under the Open Government Licence v3.0 from legislation.gov.uk. Contains material from the European Union, re-used under Commission Decision 2011/833/EU. The EU does not endorse this repository.
summary: ''
---

# Commission Regulation (EC) No 2898/95 of 15 December 1995 concerning verification of compliance with quality standards for bananas

> This law has been repealed or revoked.
>
> Extent: England, Wales, Scotland, Northern Ireland.

*Extent: E+W+S+N.I.*

**No longer in force.**

Commission Regulation (EC) No 2898/95

of 15 December 1995

concerning verification of compliance with quality standards for bananas (repealed)

[^c000004]. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 1.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 2.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 3.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 4.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 5.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 6.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 7.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 8.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Article 9.**[^c000004] . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

[^c000004]. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

## ANNEX I[^c000004]

[^c000004]. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

## ANNEX II — Certificate of exemption from verification of compliance with quality standards for bananas[^c000004]

[^c000004]. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

## Annotations

[^c000004]: Textual amendment: Repealed by [Commission Implementing Regulation (EU) No 1333/2011 of 19 December 2011 laying down marketing standards for bananas, rules on the verification of compliance with those marketing standards and requirements for notifications in the banana sector (codification)](https://www.legislation.gov.uk/eur/2011/1333).
